<h1>Editar usuario</h1>
<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<%= render 'form' %>
		<%= link_to 'Listar', @usuario %> |
		<%= link_to 'Atras', usuarios_path %>
	</div>
</div>



